---
# Basic OS prep: update metadata and create deploy user

- name: Update package metadata only (safe for AL2023)
  ansible.builtin.yum:
    update_cache: true

- name: Ensure deploy user exists
  ansible.builtin.user:
    name: deploy
    comment: "EdgePaaS deploy user"
    shell: /bin/bash
    state: present
    create_home: yes

- name: Allow deploy user passwordless sudo
  become: true
  ansible.builtin.copy:
    dest: /etc/sudoers.d/deploy
    content: "deploy ALL=(ALL) NOPASSWD:ALL\n"
    owner: root
    group: root
    mode: '0440'

- name: Install Nginx
  ansible.builtin.yum:
    name: nginx
    state: present

- name: Ensure nginx conf.d directory exists
  ansible.builtin.file:
    path: /etc/nginx/conf.d
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Remove default nginx site
  ansible.builtin.file:
    path: /etc/nginx/conf.d/default.conf
    state: absent

- name: Ensure log directory exists
  ansible.builtin.file:
    path: /var/log/edgepaas
    state: directory
    owner: ec2-user
    group: ec2-user
    mode: '0755'

- name: Install PostgreSQL server and client
  ansible.builtin.yum:
    name:
      - postgresql15
      - postgresql15-server
    state: present

- name: Initialize PostgreSQL database
  ansible.builtin.command: postgresql-setup --initdb
  args:
    creates: /var/lib/pgsql/data/PG_VERSION

- name: Ensure PostgreSQL is running and enabled
  ansible.builtin.service:
    name: postgresql
    state: started
    enabled: true

- name: Wait for PostgreSQL to be ready
  ansible.builtin.wait_for:
    port: 5432
    delay: 3
    timeout: 21


- name: Copy SQL script to EC2
  ansible.builtin.copy:
    src: setup_local_postgres.sql
    dest: /tmp/setup_local_postgres.sql
    owner: ec2-user
    group: ec2-user
    mode: '0644'

- name: Run SQL script against testdb
  become: true
  ansible.builtin.shell: |
    sudo -u postgres psql -f /tmp/setup_local_postgres.sql >> /var/log/edgepaas/local_postgres.log 2>&1
  register: sql_run
  failed_when: sql_run.rc != 0

- name: Write .env.test
  ansible.builtin.copy:
    dest: /opt/edgepaas/.env.test
    content: "DATABASE_URL_TEST=postgresql://testuser:testpass@localhost:5432/testdb"
    owner: ec2-user
    group: ec2-user
    mode: '0644'
  when: sql_run.rc == 0

- name: Remove SQL script after successful run
  ansible.builtin.file:
    path: /tmp/setup_local_postgres.sql
    state: absent
  when: sql_run.rc == 0

- name: Debug message - SQL script executed successfully
  ansible.builtin.debug:
    msg: "SQL script ran successfully and has been removed."
  when: sql_run.rc == 0

- name: Show last 10 lines of Postgres setup log
  ansible.builtin.shell: tail -n 10 /var/log/edgepaas/local_postgres.log
  register: log_tail
  changed_when: false

- debug:
    var: log_tail.stdout_lines

- name: First Task finished info
  set_fact:
    task_finished_at: "{{ '%Y-%m-%d %H:%M:%S' | strftime }}"

- debug:
    msg: "Task finished at {{ task_finished_at }}"
