---
# Basic OS prep: update metadata and create deploy user

- name: Update package metadata only (safe for AL2023)
  ansible.builtin.yum:
    update_cache: true

- name: Ensure deploy user exists
  ansible.builtin.user:
    name: deploy
    comment: "EdgePaaS deploy user"
    shell: /bin/bash
    state: present
    create_home: yes

- name: Allow deploy user passwordless sudo
  become: true
  ansible.builtin.copy:
    dest: /etc/sudoers.d/deploy
    content: "deploy ALL=(ALL) NOPASSWD:ALL\n"
    owner: root
    group: root
    mode: '0440'

- name: Install Nginx
  ansible.builtin.yum:
    name: nginx
    state: present

- name: Ensure nginx conf.d directory exists
  ansible.builtin.file:
    path: /etc/nginx/conf.d
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Remove default nginx site
  ansible.builtin.file:
    path: /etc/nginx/conf.d/default.conf
    state: absent

- name: Copy SQL script to EC2
  ansible.builtin.copy:
    src: "./app/files/setup_local_postgres.sh
    dest: /tmp/setup_test_db.sql
    owner: ec2-user
    group: ec2-user
    mode: '0644'

- name: Run SQL script against testdb
  become: true
  become_user: postgres
  ansible.builtin.shell: |
    psql -d testdb -f /tmp/setup_test_db.sql
  args:
    warn: false
  register: sql_run
  failed_when: sql_run.rc != 0

- name: Remove SQL script after successful run
  ansible.builtin.file:
    path: /tmp/setup_test_db.sql
    state: absent
  when: sql_run.rc == 0

- name: Debug message - SQL script executed successfully
  ansible.builtin.debug:
    msg: "SQL script ran successfully and has been removed."
  when: sql_run.rc == 0
