---
# Basic OS prep: update packages and create deploy user
- name: Update all packages
  ansible.builtin.yum:
    name: "*"
    state: latest

- name: Ensure deploy user exists
  ansible.builtin.user:
    name: deploy
    comment: "EdgePaaS deploy user"
    shell: /bin/bash
    state: present
    create_home: yes

- name: Add deploy user to sudoers
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    state: present
    regexp: '^deploy'
    line: 'deploy ALL=(ALL) NOPASSWD:ALL'
