---
- name: Minimal CI/CD Ansible connectivity test
  hosts: test
  gather_facts: no

  tasks:
    - name: Identify remote host
      command: hostname
      register: host_out

    - name: Show hostname
      debug:
        msg: "Running on {{ host_out.stdout }}"

    - name: Ensure port 8081 is reachable on host
      wait_for:
        host: 127.0.0.1
        port: 8081
        timeout: 5
      ignore_errors: true   # important for testing

    - name: HTTP check against localhost:8081
      uri:
        url: http://127.0.0.1:8081
        method: GET
        status_code: 200
        timeout: 5
      ignore_errors: true

    - name: Ensure port 8080 is reachable on host
      wait_for:
        host: 127.0.0.1
        port: 8080
        timeout: 5
      ignore_errors: true

    - name: HTTP check against localhost:8080
      uri:
        url: http://127.0.0.1:8080
        method: GET
        status_code: 200
        timeout: 5
      ignore_errors: true

    - name: Show connection type
      debug:
        msg:
          - "inventory_hostname={{ inventory_hostname }}"
          - "ansible_connection={{ ansible_connection | default('ssh') }}"
