---
# EdgePaaS: Deploy multi-container app with blue-green strategy

- name: Deploy EdgePaaS app
  hosts: all
  become: yes
  vars:
    # defaults from roles/app/defaults/main.yml, can be overridden by env
    dockerhub_user: "{{ lookup('env','DOCKER_USER') | default('codest40') }}"
    app_name: edgeapp
    container_port: 80
  roles:
    - app
