---
# EdgePaaS: Deploy multi-container app with blue-green strategy

- name: Deploy EdgePaaS app
  hosts: all
  become: yes
  vars:
    # defaults from roles/app/defaults/main.yml, can be overridden by env
    active_color: "{{ ACTIVE_COLOR | default('blue') }}"
    inactive_color: "{{ INACTIVE_COLOR | default('green') }}"
    dockerhub_user: "{{ lookup('env','DOCKER_USER') | default('codest40') }}"
    app_name: "{{ lookup('env','APP_NAME') | default('edgeapp') }}"
    active_port: 8081
    inactive_port: 8080
    container_port: 80
  roles:
    - app
