---
# EdgePaaS: Deploy multi-container app with blue-green strategy

- name: Deploy EdgePaaS app
  hosts: all
  become: yes
  vars:
    dockerhub_user: "{{ lookup('env','DOCKER_USER') }}"
    app_name:  "{{ lookup('env','APP_NAME') }}"
    container_port: 80
  roles:
    - app
