---
# Deploy EdgePaaS app (blue-green) dynamically with Docker

- name: Create directories for app
  ansible.builtin.file:
    path: /opt/edgepaas/app
    state: directory
    owner: deploy
    group: deploy
    mode: '0755'

- name: Pull Docker images for blue and green from Docker Hub
  ansible.builtin.docker_image:
    name: "{{ dockerhub_user }}/{{ app_name }}:latest-{{ item }}"
    source: pull
  loop:
    - blue
    - green

- name: Stop any existing containers
  ansible.builtin.docker_container:
    name: "{{ app_name }}-{{ item }}"
    state: absent
    force_kill: yes
  loop:
    - blue
    - green

- name: Start active container
  ansible.builtin.docker_container:
    name: "{{ app_name }}-{{ active_color }}"
    image: "{{ dockerhub_user }}/{{ app_name }}:latest-{{ active_color }}"
    state: started
    restart_policy: always
    ports:
      - "{{ active_port }}:{{ container_port | default(80) }}"
    user: deploy

- name: Ensure inactive container is stopped
  ansible.builtin.docker_container:
    name: "{{ app_name }}-{{ inactive_color }}"
    image: "{{ dockerhub_user }}/{{ app_name }}:latest-{{ inactive_color }}"
    state: stopped
    user: deploy

- name: Configure Nginx for blue-green routing
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: '0644'

- name: Reload Nginx
  ansible.builtin.service:
    name: nginx
    state: reloaded
