
- name: Handle unhealthy container
  ansible.builtin.block:
    - name: Determine inactive color
      ansible.builtin.set_fact:
        inactive_color: "{{ 'green' if active_color == 'blue' else 'blue' }}"

    - name: Start new container on inactive slot
      ansible.builtin.docker_container:
        name: "{{ app_name }}-{{ inactive_color }}"
        image: "{{ dockerhub_user }}/{{ app_name }}:latest-{{ inactive_color }}"
        state: started
        restart_policy: always
        ports:
          - "{{ resolved_active_port }}:{{ container_port | default(80) }}"
        env:
          DATABASE_URL: "{{ lookup('env','DATABASE_URL') }}"
          CONTAINER_PORT: "{{ container_port | default(80) }}"
          RUN_MIGRATIONS: "true"

    - name: Switch nginx to inactive container
      ansible.builtin.template:
        src: nginx.conf.j2
        dest: /etc/nginx/conf.d/edgepaas.conf
      notify: Reload nginx
