---
# Install Docker and prepare host for containers

- name: Install required packages
  ansible.builtin.yum:
    name: "{{ docker_packages }}"
    state: present

- name: Add Docker repository
  ansible.builtin.yum_repository:
    name: docker
    description: Docker CE Repository
    baseurl: https://download.docker.com/linux/centos/7/x86_64/stable
    gpgcheck: yes
    gpgkey: https://download.docker.com/linux/centos/gpg
    state: present

- name: Install Docker
  ansible.builtin.yum:
    name: "docker-ce{{ '-' ~ docker_version if docker_version != 'latest' else '' }}"
    state: present

- name: Start and enable Docker
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Add current user to docker group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes
