---
- name: EdgePaaS CI/CD Orchestration
  hosts: Edge
  gather_facts: yes
  become: true

  vars:
    ansible_user: ec2-user

  tasks:

    - name: Prepare The Server
      import_tasks: prep.yml

    - name: Setup Docker
      import_tasks: docker.yml

    - name: Run deployment pipeline
      import_tasks: deploy.yml

    - name: Run post-deployment checks
      import_tasks: checks.yml
