name: EdgePaaS Deploy App

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

env:
  GH_TOKEN: ${{ secrets.GH_PAT }}
  APP_NAME: edgeapp
  EDGEPAAS_AWS_ROLE: ${{ secrets.EDGEPAAS_AWS_ROLE }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build & Push Docker images
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
        run: |
          docker build -t ${{ env.APP_NAME }}:latest-blue ./docker
          docker build -t ${{ env.APP_NAME }}:latest-green ./docker
          docker tag ${{ env.APP_NAME }}:latest-blue $DOCKER_USER/${{ env.APP_NAME }}:latest-blue
          docker tag ${{ env.APP_NAME }}:latest-green $DOCKER_USER/${{ env.APP_NAME }}:latest-green
          docker push $DOCKER_USER/${{ env.APP_NAME }}:latest-blue
          docker push $DOCKER_USER/${{ env.APP_NAME }}:latest-green

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ env.EDGEPAAS_AWS_ROLE }}
          aws-region: us-east-1

      - name: Make scripts executable
        run: chmod +x ./scripts/update-inventory.sh

      - name: Update inventory & deploy app
        env:
          EC2_IP: ${{ secrets.EC2_IP }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
          RUN_MIGRATIONS: ${{ secrets.RUN_MIGRATIONS }}
        run: ./scripts/update-inventory.sh
