name: Prepare And Run Ansible

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

env:
  APP_NAME: edgeapp
  EDGEPAAS_AWS_ROLE: ${{ secrets.EDGEPAAS_AWS_ROLE }}
  EC2_IP: ${{ secrets.EC2_IP }}
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
  RUN_MIGRATIONS: ${{ secrets.RUN_MIGRATIONS }}

jobs:
  prepare:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build & Push Docker images
        run: |
          docker build -t ${APP_NAME}:latest-blue ./docker
          docker build -t ${APP_NAME}:latest-green ./docker
          docker tag ${APP_NAME}:latest-blue ${DOCKER_USER}/${APP_NAME}:latest-blue
          docker tag ${APP_NAME}:latest-green ${DOCKER_USER}/${APP_NAME}:latest-green
          docker push ${DOCKER_USER}/${APP_NAME}:latest-blue
          docker push ${DOCKER_USER}/${APP_NAME}:latest-green

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ env.EDGEPAAS_AWS_ROLE }}
          aws-region: us-east-1

  deploy:
    needs: prepare
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Write SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Create Ansible inventory
        run: |
          INVENTORY=inventory.ini
          cat > $INVENTORY <<EOF
          [edgepaas]
          edgepaas_ec2 ansible_host="${{ env.EC2_IP }}" ansible_user=ec2-user ansible_python_interpreter=/usr/bin/python3 ansible_ssh_args='-o StrictHostKeyChecking=no'
          EOF

      - name: Check Whether Inventory was Really Created
        run: |
            INVENTORY=inventory.ini
            if [ -f "$INVENTORY" ]; then
              echo "✅ Inventory file created:"
            else
              echo "❌ Inventory file not found"
              exit 1
            fi


            echo "Contents of inventory:"
            cat "$INVENTORY"

            echo "Showing lines that have number (IP)"
            grep -E '[0-9]' "$INVENTORY" || echo "No lines with a number found"


      - name: Run Ansible
        run: |
          cd "$GITHUB_WORKSPACE/ansible"
          export ANSIBLE_ROLES_PATH="$GITHUB_WORKSPACE/ansible/roles"
          ansible-playbook -i "$INVENTORY" playbooks/setup_docker.yml \
            -e dockerhub_user=${DOCKER_USER} \
            -e app_name=${APP_NAME}

          ansible-playbook -i "$INVENTORY" playbooks/deploy_app.yml \
            -e dockerhub_user=${DOCKER_USER} \
            -e app_name=${APP_NAME}

      - name: Cleanup
        run: |
          rm -f ~/.ssh/id_rsa inventory.ini
          echo "✅ Deployment Successful"
