name: Prepare And Run Ansible

on:
  push:
    branches:
      - main
#  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  APP_NAME: edgeapp
  EDGEPAAS_AWS_ROLE: ${{ secrets.EDGEPAAS_AWS_ROLE }}
  EC2_IP: ${{ secrets.EC2_IP }}
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
  RUN_MIGRATIONS: ${{ secrets.RUN_MIGRATIONS }}

jobs:
  prepare:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build & Push Docker images
        run: |
          docker build -t ${APP_NAME}:latest-blue ./docker
          docker build -t ${APP_NAME}:latest-green ./docker
          docker tag ${APP_NAME}:latest-blue ${DOCKER_USER}/${APP_NAME}:latest-blue
          docker tag ${APP_NAME}:latest-green ${DOCKER_USER}/${APP_NAME}:latest-green
          docker push ${DOCKER_USER}/${APP_NAME}:latest-blue
          docker push ${DOCKER_USER}/${APP_NAME}:latest-green

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ env.EDGEPAAS_AWS_ROLE }}
          aws-region: us-east-1

  deploy:
    needs: prepare
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install ping utility
        run: |
          sudo apt-get update
          sudo apt-get install -y iputils-ping

      - name: Check network connectivity
        run: |
          echo "Testing ping to EC2"
          EC2_IP_CLEAN="$(echo "${{ secrets.EC2_IP }}" | tr -d '[:space:]')"
          echo "CLEAN_EC2_IP = $EC2_IP_CLEAN"
          ping -c 3 "$EC2_IP_CLEAN" || echo "Ping failed.. Issue with github Runner Connectivity"

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Create config
        run: |
          cat > ~/.ssh/config <<EOF
          Host edgepaas
            HostName 3.227.242.107
            User ec2-user
            IdentityFile ~/.ssh/id_rsa
            StrictHostKeyChecking no
          EOF
          chmod 600 ~/.ssh/config

      - name: Cat Config
        run: |
          cat ~/.ssh/config

      - name: Pre-flight SSH test
        run: |
          ssh edgepaas 'echo "SSH connection successful ✅"'

      - name: Run Ansible playbooks
        run: |
          cd "$GITHUB_WORKSPACE/ansible"
          export ANSIBLE_ROLES_PATH="$GITHUB_WORKSPACE/ansible/roles"

          echo "✅ Running setup_docker.yml"
          ansible-playbook -i "edgepaas," playbooks/setup_docker.yml \
            --private-key ~/.ssh/id_rsa \
            -e dockerhub_user=${DOCKER_USER} \
            -e app_name=${APP_NAME}

          echo "✅ Running deploy_app.yml"
          ansible-playbook -i "edgepaas," playbooks/deploy_app.yml \
            --private-key ~/.ssh/id_rsa \
            -e dockerhub_user=${DOCKER_USER} \
            -e app_name=${APP_NAME}

      - name: Cleanup
        if: always()
        run: |
          rm -f ~/.ssh/id_rsa
          rm -f ~/.ssh/config
          echo "✅ Deployment finished"
