name: Test Health Check Again

on:
  push: {}
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          chmod 600 ~/.ssh/known_hosts
          ssh-keyscan -H 44.199.255.237 >> ~/.ssh/id_rsa

      - name: Run minimal playbook
        working-directory: test_dir
        run: |
          ansible-playbook \
            -i inventory.ini \
            --private-key ~/.ssh/known_hosts \
            playbook.yml
