name: Test Deploy with Ansible

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run Ansible playbook
        uses: dawidd6/action-ansible-playbook@v7
        with:
          playbook: ansible/playbooks/deploy_app.yml
          directory: .
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          inventory: |
            [edgepaas]
            ${{ secrets.EC2_IP }} ansible_user=ec2-user
          options: --roles-path ansible/roles --ssh-common-args "-o StrictHostKeyChecking=no" --extra-vars "dockerhub_user=${{ secrets.DOCKER_USER }} app_name=edgeapp"
