name: Test Health Check Again (Test-Ansible)

on:
  push: {}
  workflow_dispatch:

env:
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  APP_NAME: edgeapp
  EC2_IP: ${{ secrets.EC2_IP }}

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Setup SSH key
        run: |
          # Assign the secret to a shell variable
          EC2_IP_LOCAL="${{ secrets.EC2_IP }}"

          # Unmask it so the shell can see the real IP
          echo "::remove-mask::$EC2_IP_LOCAL"
          echo "EC2_IP_LOCAL=$EC2_IP_LOCAL"

          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H $EC2_IP_LOCAL >> ~/.ssh/known_hosts
          echo "EC2_IP_CLEAN=$EC2_IP_LOCAL" >> $GITHUB_ENV


      - name: Run All playbooks
        working-directory: test_dir
        run: |
          ansible-playbook \
            -i inventory.ini \
            run.yml \
             --extra-vars "DOCKER_USER=${DOCKER_USER} APP_NAME=${APP_NAME} EC2_IP=${EC2_IP_CLEAN}"
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
          RUN_MIGRATIONS: ${{ secrets.RUN_MIGRATIONS }}
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          APP_NAME: edgeapp
          EC2_IP: ${{ env.EC2_IP }}
