name: Test Health Check Again (Test-Ansible)

on:
  push: {}
  workflow_dispatch:

env:
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  APP_NAME: edgeapp

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 44.203.42.254 >> ~/.ssh/id_rsa

      - name: Run First playbook
        working-directory: test_dir
        run: |
          ansible-playbook \
            -i inventory.ini \
            playbook1.yml


      - name: Run Second playbook
        working-directory: test_dir
        run: |
          ansible-playbook \
            -i inventory.ini \
            -e dockerhub_user=${DOCKER_USER} \
            -e app_name=${APP_NAME} \
            playbook2.yml
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
