name: TEST Create TERRAFORM

on:
#  push:
  workflow_dispatch:
    inputs:
      tf_action:
        description: 'Destroy TF Infra'
        required: false
        default: 'apply'

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  TF_VERSION: 1.6.6
  TF_IN_AUTOMATION: true
  TF_DIR: ./iac
  TF_KEY: ${{ secrets.KEY }}
  TF_CIDR: ${{ secrets.MY_IP_CIDR }}
  TF_EMAILS: ${{ secrets.ALERT_EMAILS }}
  TF_AMOUNT: ${{ secrets.BUDGET_AMOUNT }}
  EDGEPAAS_AWS_ROLE: ${{ secrets.EDGEPAAS_AWS_ROLE }}

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ env.EDGEPAAS_AWS_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        run: terraform init -input=false -reconfigure
        working-directory: ${{ env.TF_DIR }}

      - name: Terraform Format
        run: terraform fmt -recursive
        working-directory: ${{ env.TF_DIR }}

      - name: Terraform Validate
        run: terraform validate
        working-directory: ${{ env.TF_DIR }}

      - name: Terraform Plan
        run: terraform plan -input=false -var 'alert_emails=TF_EMAILS cidr_blocks=TF_CIDR amount=TF_AMOUNT profile=TF_PROFILE key_name=TF_KEY'
        working-directory: ${{ env.TF_DIR }}

      - name: Terraform Apply
        if: ${{ github.event.inputs.tf_action != 'destroy' }}
        run: terraform apply -auto-approve -var 'alert_emails=TF_EMAILS cidr_blocks=TF_CIDR amount=TF_AMOUNT profile=TF_PROFILE key_name=TF_KEY' -input=false
        working-directory: ${{ env.TF_DIR }}

      - name: Terraform Destroy
        if: ${{ github.event.inputs.tf_action == 'destroy' }}
        run: terraform destroy -auto-approve -var 'alert_emails=TF_EMAILS cidr_blocks=TF_CIDR amount=TF_AMOUNT profile=TF_PROFILE key_name=TF_KEY' -input=false
        working-directory: ${{ env.TF_DIR }}
